body {
	font-family: ubuntu, helvetica, arial;
}

h2 {
	font-family: Ubuntu-Light;
	font-size: 40px;
	color: #3498DB;
	line-height: 51px;
	margin-top: 80px;
}

p {
	font-family: Ubuntu-Light;
	font-size: 15px;
	color: #34495E;
	line-height: 30px;
}

.ribbon a {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #FFFFFF;
	position: absolute;
	top: 64px;
	right: -71px;
	display: block;
	font-weight: 100;
	font-size: 20px;
	color: #34495E;
	height: 45px;
	width: 330px;
	padding: 8px;
}

a:hover {
	font-weight: 600;
}

pre {
	font-family: Consolas;
	font-size: 16px;
	color: #2C3E50;
	line-height: 30px;
	white-space: pre;
}

.container {
	margin-bottom: 50px;
}

.bg-cyan {
	background: #3498DB;
	height: 650px;
	padding: 70px;
	overflow: hidden;
	position: relative;
}

.bg-cyan h3 {
	color: white;
	margin-bottom: 20px;
}

.bg-cyan p {
	font-weight: 100;
	font-size: 20px;
	color: #9BD9F5;
	line-height: 30px;
}

.line-negative-b {
	padding-bottom: 30px;
	margin: 57px auto;
	width: 60%;
	border-bottom: 1px dashed #7AC1E9;
}

.line-negative-t {
	padding-top: 30px;
	margin: 57px auto;
	width: 60%;
	border-top: 1px dashed #7AC1E9;
}

.btn-default {
	display: inline-block;
	font-weight: 100;
	font-size: 30px;
	color: #34495E;
	line-height: 30px;
	padding: 15px; 
	border-radius: 5px;
	background: #FFFFFF;
	height: 63px;
	width: 250px;
}

.btn-default:hover {
	background: white;
}
