body {
	font-family: ubuntu, helvetica, arial;
	background-color: #34495E;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: ubuntu, helvetica, arial;
}

h4.visible-xs {
	color: #2C3E50;
	line-height: 1.5em;
}

h2 {
	font-weight: 100;
	font-size: 40px;
	color: white;
	line-height: 51px;
	margin-top: 80px;
}

p {
	margin: 1.3em 0;
	font-weight: 100;
	font-size: 15px;
	color: #C1C8CF;
	line-height: 30px;
}

a {
	color: #F4F4F4;
}

a:hover {
	color: white;
}

.text-gray {
	color: #999;
}

a.text-gray:hover {
	color: #999;
}

.db { display: block;}

.ribbon-phone a {
	background: #34495E;
	display: block;
	font-weight: 100;
	font-size: 20px;
	color: white;
	width: 60%;
	padding: 8px;
	margin: 40px auto;
	border-radius: 5px;
}

.ribbon-phone a:hover, .ribbon a:hover {
	background: #1D2A37;
}

.ribbon a {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #34495E;
	position: absolute;
	top: 75px;
	right: -71px;
	display: block;
	font-weight: 100;
	font-size: 20px;
	color: white;
	height: 45px;
	width: 330px;
	padding: 8px;
}

pre {
	padding: 10px 15px;
	background: #1D2A36;
	font-family: 'Ubuntu Mono', sans-serif;
  	font-weight: 400;
	font-size: 18px;
	color: #C1C8CF;
	line-height: 30px;
	white-space: pre;
	border: 1px solid #627B94;
}

.container {
	margin-bottom: 100px;
	margin-top: 20px;
	padding-right: 30px;
	padding-left: 30px;
}

.bg-white {
	background: white;
	height: 90%;
	padding: 7% 4%;
	overflow: hidden;
	position: relative;
}

.bg-white h3 {
	color: #2C3E50;
	margin-bottom: 20px;
}

.bg-white p {
	font-weight: 100;
	font-size: 20px;
	color: #34495E;
	line-height: 30px;
}

.line-negative-b {
	padding-bottom: 30px;
	margin: 57px auto;
	width: 60%;
	border-bottom: 1px dashed #ccc;
}

.line-negative-t {
	padding-top: 30px;
	border-top: 1px dashed #ccc;
}

.btn-default {
	border: 0;
	display: inline-block;
	font-weight: 100;
	font-size: 25px;
	color: #fff;
	line-height: 30px;
	padding: 16px; 
	border-radius: 5px;
	background: #34495E;
	height: 63px;
	width: 300px;
}

.btn-default:hover {
	color: white;
	background: #1D2A37;
}

.sub-footer {
	background: #3E5770;
	padding: 25px 0;
	margin-top: 40px;
}

.sub-footer p {
	margin: 0;
}

input.btn-default {
	font-size: 14px;
	width: auto;
	height: auto;
	padding: 4px 20px;
	border: 0 !important;
	color: #C1C8CF;
}

.sub-footer input.email {
	border-radius: 5px;
	background: #34495E;
	border: 1px solid #4D6D8C !important;
	color: #C1C8CF;
}

.sub-footer label {
	font-size: 24px;
	color: #C1C8CF;
	font-weight: 300 !important;
}

footer {
	background: #121E27;
	padding: 5px 0;
}

footer .container, .sub-footer .container {
	margin-bottom: 20px;
}

footer p {
	margin: 0;
}
