// note: we prefix all rules in this file with `home-` because we are using `ViewEncapsulation.None` in the component

.home-placeholder {
  text-align: center;
  border: 1px solid #aac;
  background-color: #fefeff;
  &.top-element {
    padding: 100px 0;
  }
  &.heatmap {
    padding: 50px 0;
  }
}

.home-daily-transactions {
  height: 34vh;
  min-height: 200px;
  padding-bottom: 32px;
  background-color: #3d3d4d;
  display: flex;
  flex-direction: column;
  .header {
    color: #d3dbff;
    text-transform: uppercase;
    font-size: 12px;
    margin: 32px 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .range-selector {
      & > div {
        display: inline-block;
        padding: 8px 16px 8px;
        &.selected {
          padding-bottom: 6px;
          border-bottom: 2px solid #657fe5;
        }
      }
    }
  }
  .chart {
    flex-grow: 1;
    .tick {
      fill: #b8c5ff8a;
    }
    .gridline-path {
      stroke: #b8c5ff11;
    }
  }
}
