#footer(data-ng-include="'/views/includes/footer.html'", role='navigation')

//Vendors
script(type='text/javascript', src='/socket.io/socket.io.js')
script(type='text/javascript', src='/js/vendors.min.js')

//AngularJS
script(type='text/javascript', src='/js/angularjs-all.min.js')

//Application Init
script(type='text/javascript', src='/js/main.min.js')
