#footer
  .container
    p.text-muted Place sticky footer content here.
        
script(type='text/javascript', src='/lib/jquery/jquery.min.js')
script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.min.js')
