#footer(data-ng-include="'/views/includes/footer.html'", role='navigation')

script(type='text/javascript', src='/socket.io/socket.io.js')
script(type='text/javascript', src='/js/vendors.min.js')
script(type='text/javascript', src='/js/angularjs-all.min.js')
script(type='text/javascript', src='/js/main.min.js')
