head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title Mystery
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="node.js, express, mongoose, mongodb, angularjs")
  meta(name="description", content="Mystery")

  link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')
  
