head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1.0')
  meta(name="fragment", content="!")

  title(data-ng-bind="$root.title + $root.titleDetail + ' | #{appName}'")= appName
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="node.js, express, mongoose, mongodb, angularjs")
  meta(name="description", content="Insight")

  link(rel='shortcut icon', href='/img/icons/favicon.ico', type='image/x-icon')

  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic')
  link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/common.css')
