# from https://github.com/github/gitignore/blob/master/Node.gitignore
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
build

node_modules

# extras
*.swp
*~
.project

npm-debug.log
node_modules
.nodemonignore

.DS_Store
public/lib/*

