lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
tags
pids
logs
results
build

node_modules

# extras
*.swp
*.swo
*~
.project
peerdb.json

npm-debug.log
.nodemonignore

.DS_Store
db/txs/*
db/txs
db/testnet/txs/*
db/testnet/txs
db/blocks/*
db/blocks
db/testnet/blocks/*
db/testnet/blocks

README.html
k*
