python=/home/linuxbrew/.linuxbrew/bin/python3
node-linker=hoisted
shamefully-hoist=true
strict-peer-dependencies=false
allow-external-link-references=true  # Add this line
hoist-pattern[]=*browserify*
