sudo: false
language: node_js
env:
  - CXX=g++-4.8 CC=gcc-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - gcc-4.8
      - libzmq3-dev
node_js:
  - '8'
install:
  - npm install
script:
  - npm run test
