version: "3"

services:

  test_runner:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8100:8100
      - 3000:3000
    environment:
      - DB_HOST=db
      - DB_NAME=bitcore-test
      - BITCORE_CONFIG_PATH=/bitcore/bitcore-test.config.json
    depends_on:
      - db
      - bitcoin
      - parity
      - rippled

  db:
    image: mongo

  bitcoin:
    image: ruimarinho/bitcoin-core:0.16
    command:
      -printtoconsole
      -regtest=1
      -txindex=0
      -listen=1
      -server=1
      -irc=0
      -dnsseed=0
      -upnp=0
      -port=8332
      -rpcport=8333
      -rpcallowip=172.0.0.0/8
      -rpcbind=0.0.0.0
      -rpcuser=bitcorenodetest
      -rpcpassword=local321

  parity:
    image: parity/parity:v2.4.6
    ports:
      - "8545:8545"
      - "8546:8546"
    volumes:
      - ./.docker/parity-password:/data/pw
    command:
      --config=dev
      --jsonrpc-interface=0.0.0.0
      --ws-interface=0.0.0.0
      --ws-port=8546
      --jsonrpc-apis=all
      --ws-apis=all
      --unlock 00a329c0648769a73afac7f9381e08fb43dbea72
      --password /data/pw

  rippled:
    build:
      context: .
      dockerfile: ./.docker/rippled.Dockerfile

networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16
