<section data-ng-controller="AddressController" data-ng-init="findOne()">
  <div class="page-header">
    <h1>
      Address
      <small>Addresses are identifiers which you use to send bitcoins to another person.</small>
    </h1>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <table class="table table-striped">
        <tbody>
        <tr>
          <td>Address</td>
          <td><a href="/#!/address/{{address.addrStr}}">{{address.addrStr}}</a></td>
        </tr>
        <tr>
          <td>Total Received</td>
          <td>{{address.totalReceived}} BTC</td>
        </tr>
        <tr>
          <td>Total Sent</td>
          <td>{{address.totalSent}} BTC</td>
        </tr>
        <tr>
          <td>Final Balance</td>
          <td>{{address.balance}} BTC</td>
        </tr>
        <tr>
          <td>No. Transactions</td>
          <td>{{address.txApperances}}</td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="col-lg-3">
      <qrcode size="200" data="{{address.addrStr}}"></qrcode>
    </div>
  </div>

  <div data-ng-controller="transactionsController" data-ng-init="byAddress(params.addrStr)">
    <h2>Transactions <small>Transactions contained within this block</small></h2>
    <div data-ng-include src="'/views/transaction/list.html'"></div>
  </div>
</section>
