<section data-ng-controller="AddressController" data-ng-init="findOne()">
  <div class="row">
    <div class="col-md-3">
      <div class="bs-sidebar hidden-print affix col-gray">
        <div class="text-center m20v">
          <qrcode size="160" data="{{address.addrStr}}"></qrcode>
          <div class="m10v">
            <button class="pull-right btn-copy" clip-copy="address.addrStr"><span class="glyphicon glyphicon-paperclip"></span></button>
            <a class="ellipsis" href="/address/{{address.addrStr}}">{{address.addrStr}}</a>
          </div>
        </div>
        <div class="m20v">
          <h4>Summary</h4>
          <table class="table">
            <tbody>
              <tr>
                <td class="small">Total Received</td>
                <td class="address ellipsis text-right">{{address.totalReceived}} BTC</td>
              </tr>
              <tr>
                <td class="small">Total Sent</td>
                <td class="address ellipsis text-right">{{address.totalSent}} BTC</td>
              </tr>
              <tr>
                <td class="small">Final Balance</td>
                <td class="address ellipsis text-right">{{address.balance}} BTC</td>
              </tr>
              <tr>
                <td class="small">No. Transactions</td>
                <td class="address ellipsis text-right">{{address.txApperances}}</td>
              </tr>
            </tbody>
          </table>
        </div> <!-- END OF TRANSACTIONS TABLE -->
      </div>
    </div> <!-- END OF COL-MD-3 -->
    <div class="col-md-9">
      <div data-ng-controller="transactionsController" data-ng-init="load('address')">
        <h2>Transactions <small>Transactions for this address</small></h2>
        <div data-ng-include src="'/views/transaction/list.html'" when-scrolled="loadMore()"></div>
      </div>
    </div>
  </div> <!-- END OF ROW -->
</section>
