<div data-ng-include src="'/views/includes/connection.html'"></div>
<section data-ng-controller="BlocksController" data-ng-init="findOne()">
  <div class="row">
    <div class="col-xs-12 col-gray col-gray-fixed">
      <h1 class="text-center">Block</h1>
      <div class="block-id">
        <span class="glyphicon glyphicon-list-alt"></span>
        <h2 data-ng-if="block">#{{block.height}}</h2>
      </div>
      <div class="m10v">
        <button class="pull-right btn-copy" clip-copy="block.hash"></button>
        <a class="ellipsis" href="/block/{{block.hash}}">{{block.hash}}</a>
      </div>
      <div class="m20v" data-ng-show="!tx.isCoinBase">
        <h4>Hashes</h4>
        <table class="table" style="table-layout: fixed">
          <tbody class="small">
            <tr data-ng-show="block.previousblockhash">
              <td> Previous Block</td>
              <td class="text-right"><a href="/block/{{block.previousblockhash}}">{{block.height-1}}</a></td>
            </tr>
            <tr data-ng-show="block.nextblockhash">
              <td> Next Block</td>
              <td class="text-right"><a href="/block/{{block.nextblockhash}}">{{block.height+1}}</a></td>
            </tr>
          </tbody>
        </table>
      </div> <!-- END OF TRANSACTIONS TABLE -->
      <div data-ng-include src="'/views/includes/currency.html'"></div>
    </div> <!-- END OF COL-GRAY   -->

    <div class="col-xs-12 col-md-9 col-md-offset-3">
      <h2>Summary</h2>
      <div class="row">
        <div class="col-md-6">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Number Of Transactions</strong></td>
                <td class="text-right text-muted">{{block.tx.length}}<td>
              </tr>
              <tr>
                <td><strong>Height</strong></td>
                <td class="text-right text-muted">{{block.height}}
                <span data-ng-show="block.isMainChain" class="text-success">(Mainchain)</span>
                <span data-ng-show="!block.isMainChain" class="text-danger"> <span class="glyphicon glyphicon-warning-sign"></span> (Orphaned)</span>
              </tr>
              <tr>
                <td><strong>Block Reward</strong></td>
                <td class="text-right text-muted">{{$root.currency.getConvertion(block.reward)}}</td>
              </tr> 
              <tr>
                <td><strong>Timestamp</strong></td>
                <td class="text-right text-muted">{{block.time * 1000 | date:'medium'}}</td>
              </tr>
              <tr>
                <td><strong>Merkle Root</strong></td>
                <td class="text-right text-muted">
                  <button class="pull-right btn-copy" clip-copy="block.merkleroot"></button>
                  <span class="ellipsis" style="width:155px">{{block.merkleroot}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table">
            <tbody>
              <tr>
                <td> <strong> Difficulty </strong></td>
                <td class="text-right text-muted">{{block.difficulty}}</td>
              </tr>
              <tr>
                <td> <strong> Bits </strong></td>
                <td class="text-right text-muted">{{block.bits}}</td>
              </tr>
              <tr>
                <td> <strong> Size (bytes) </strong></td>
                <td class="text-right text-muted">{{block.size}}</td>
              </tr>
              <tr>
                <td> <strong> Version </strong></td>
                <td class="text-right text-muted">{{block.version}}</td>
              </tr>
              <tr>
                <td> <strong> Nonce </strong></td>
                <td class="text-right text-muted">{{block.nonce}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div><!--  END OF ROW -->

      <div data-ng-controller="transactionsController" data-ng-init="load('block')">
        <h2>Transactions <small >Transactions contained within this block</small></h2>
        <div data-ng-include src="'/views/transaction/list.html'" when-scrolled="loadMore()"></div>
      </div>
    </div>
  </div>

</section>
