<div class="container">
  <div data-ng-controller="HeaderController">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="insight navbar-brand" href="#!">Insight</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li data-ng-repeat="item in menu" ui-route="/{{item.link}}" data-ng-class="{active: $uiRoute}">
          <a href="#!/{{item.link}}">{{item.title}}</a>
        </li>
      </ul>
      <div data-ng-controller="SearchController">
        <form class="navbar-form navbar-left" role="search" data-ng-submit="search()">
          <div class="form-group" data-ng-class="{'has-error': badQuery}">
            <input id="search" type="text" class="form-control" data-ng-model="q" placeholder="Search for block, transaction or address">
          </div>
          <div class="no_matching text-danger" data-ng-show="badQuery">No matching records found!</div>
        </form>
      </div>
      <div class="status" data-ng-controller="StatusController">
        <span  data-ng-init="getSync()">
          <div class="text-danger"  data-ng-show="sync.error" tooltip="{{sync.error}}" tooltip-placement="bottom"> ERROR </div>

          <span class="small" tooltip="{{sync.tooltip}}" tooltip-placement="down">
            <i class="{{sync.style}}"><strong> {{sync.message}} </strong></i>
          </span>
        </span>
        <span  data-ng-init="getStatus('Info')">
          <i class="small">
            <strong> Conn: </strong> {{info.connections}} 
          </i>
          <i class="small">
            <strong>Height:</strong> {{info.blocks}}
          </i>
        </span>
      </div>
    </div>
  </div>
</div>
