<section data-ng-controller="StatusController">
  <div class="page-header">
    <h1>
      Status 
    </h1>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h3>getInfo</h3>
      <table class="table table-striped" data-ng-init="getStatus('Info')">
        <tbody>
        <tr data-ng-show="!info &amp;&amp; !infoError">
          <td colspan="2" class="text-center">Loading...
        <tr data-ng-show="infoError">
          <td colspan="2" class="text-danger">{{infoError}}
        <tr>
          <td>Version</td>
          <td>{{info.version}}</td>
        </tr>
        <tr>
          <td>protocolversion</td>
          <td>{{info.protocolversion}}</td>
        </tr>
        <tr>
          <td>walletversion</td>
          <td>{{info.walletversion}}</td>
        </tr>
        <tr>
          <td>balance</td>
          <td>{{info.balance}}</td>
        </tr>
        <tr>
          <td>blocks</td>
          <td>{{info.blocks}}</td>
        </tr>
        <tr>
          <td>timeoffset</td>
          <td>{{info.timeoffset}}</td>
        </tr>
        <tr>
          <td>connections</td>
          <td>{{info.connections}}</td>
        </tr>
        <tr>
          <td>proxy</td>
          <td>{{info.proxy}}</td>
        </tr>
        <tr>
          <td>difficulty</td>
          <td>{{info.difficulty}}</td>
        </tr>
        <tr>
          <td>testnet</td>
          <td>{{info.testnet}}</td>
        </tr>
        <tr>
          <td>keypoololdest</td>
          <td>{{info.keypoololdest}}</td>
        </tr>
        <tr>
          <td>keypoolsize</td>
          <td>{{info.keypoolsize}}</td>
        </tr>
        <tr>
          <td>paytxfee</td>
          <td>{{info.paytxfee}}</td>
        </tr>
        <tr>
          <td>infoErrors</td>
          <td>{{info.infoErrors}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <h3>sync status</h3>
      <table class="table table-striped" data-ng-init="getSync()">
        <tbody>
        <tr data-ng-show="syncError">  
          <td colspan="2"> <span class="text-danger"> {{ syncError }} </span>
        <tr data-ng-show="sync.error">  
          <td colspan="2"> <span class="text-danger"> {{ sync.err }} </span>
        </tr>
        <tr>
          <td>Sync Progress</td>
          <td> {{(100 * sync.syncedBlocks/sync.blocksToSync)| number:2}}% 
        </tr>
        <tr>
          <td>blocksToSync</td>
          <td>{{sync.blocksToSync}}</td>
        </tr>
        <tr>
          <td>syncedBlocks</td>
          <td>{{sync.syncedBlocks}}</td>
        </tr>
        <tr>
          <td>start</td>
          <td>{{sync.start}}
            <span data-ng-show="sync.isStartGenesis"> (genesisBlock) </span> 
          </td>
        </tr>
        <tr>
          <td>end</td>
          <td>{{sync.end}}
            <span data-ng-show="sync.isEndGenesis"> (genesisBlock) </span>
          </td>
        </tr>
        <tr>
          <td>Sync Type</td>
          <td>
            <ul>  
              <li  data-ng-show="sync.upToExisting"> <span> Stops at existing block </span>
              <li>
                <span data-ng-show="sync.scanningBackward"> scanningBackward </span>
                <span data-ng-hide="sync.scanningBackward"> scanningForward </span>
            </ul>  
          </td>
        </tr>




        </tbody>
      </table>
    
      <h3>getTxOutSetInfo</h3>
      <table class="table table-striped" data-ng-init="getStatus('TxOutSetInfo')">
        <tbody>
        <tr data-ng-show="!txoutsetinfo &amp;&amp; !infoError">
          <td colspan="2" class="text-center">Loading...</td>
        </tr>
        <tr data-ng-show="infoError">
          <td colspan="2" class="text-danger">{{infoError}}</td>
        </tr>
        <tr>
          <td>Height</td>
          <td>{{txoutsetinfo.height}}</td>
        </tr>
        <tr>
          <td>bestblock</td>
          <td>{{txoutsetinfo.bestblock}}</td>
        </tr>
        <tr>
          <td>transactions</td>
          <td>{{txoutsetinfo.transactions}}</td>
        </tr>
        <tr>
          <td>txouts</td>
          <td>{{txoutsetinfo.txouts}}</td>
        </tr>
        <tr>
          <td>bytes_serialized</td>
          <td>{{txoutsetinfo.bytes_serialized}}</td>
        </tr>
        <tr>
          <td>hash_serialized</td>
          <td>{{txoutsetinfo.hash_serialized}}</td>
        </tr>
        <tr>
          <td>total_amount</td>
          <td>{{txoutsetinfo.total_amount}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h3>getDifficulty</h3>
      <table class="table table-striped" data-ng-init="getStatus('Difficulty')">
        <tbody>
        <tr data-ng-show="!difficulty &amp;&amp; !infoError">
          <td colspan="2" class="text-center">Loading...</td>
        </tr>
        <tr data-ng-show="infoError">
          <td colspan="2" class="text-danger">{{infoError}}</td>
        </tr>
 
        <tr>
          <td>Difficulty</td>
          <td>{{difficulty}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <h3>getLastBlockHash</h3>
      <table class="table table-striped" data-ng-init="getStatus('LastBlockHash')">
        <tbody>
        <tr data-ng-show="!lastblockhash &amp;&amp; !infoError">
          <td colspan="2" class="text-center">Loading...</td>
        </tr>
        <tr data-ng-show="infoError">
          <td colspan="2" class="text-danger">{{infoError}}</td>
        </tr>
        <tr>
          <td>Last block hash</td>
          <td>{{lastblockhash}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

