<section>
  <div class="page-header">
    <h1>
      Application Status 
    </h1>
  </div>
  <div id="status" class="row">
    <div class="col-md-9">
      
      <h4>Sync Status</h4>
      <table class="table"  data-ng-controller="StatusController" data-ng-init="getSync()">
        <tbody>
        <thead>
          <span class="text-danger" data-ng-show="sync && sync.error">{{sync.error}}</span>
        </thead>
        <tr>
          <td>Sync Progress</td>
          <td> 
          <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ sync.syncPercentage}}%">
                <span>{{sync.syncPercentage}}% Complete</span>
              </div>
          </div>
        </tr>
        <tr>
          <td>Current Sync Status</td>
          <td class="text-right">{{sync.status}}</td>
        </tr>
 
        <tr>
          <td>Initial Block Chain Height</td>
          <td class="text-right">{{sync.blockChainHeight}}</td>
        </tr>
        <tr>
          <td>Synced Blocks</td>
          <td class="text-right">{{sync.syncedBlocks}}</td>
        <tr>
          <td>Skipped Blocks (previously synced)</td>
          <td class="text-right">{{sync.skippedBlocks}}</td>
        </tbody>
      </table>
    
      <h4>Transaction Output Set Information</h4>
      <table class="table"  data-ng-controller="StatusController" data-ng-init="getStatus('TxOutSetInfo')">
        <thead  data-ng-include src="'/views/infoStatus.html'"> </thead>
        <tbody>
        <tr>
          <td>Height</td>
          <td class="text-right"><a href="/block-index/{{txoutsetinfo.height}}">{{txoutsetinfo.height}}</a></td>
        </tr>
        <tr>
          <td>Best Block</td>
          <td class="text-right"><a href="/block/{{txoutsetinfo.bestblock}}">{{txoutsetinfo.bestblock}}</a></td>
        </tr>
        <tr>
          <td>Transactions</td>
          <td class="text-right"> {{txoutsetinfo.transactions}}</td>
        </tr>
        <tr>
          <td>Transaction Outputs</td>
          <td class="text-right">{{txoutsetinfo.txouts}}</td>
        </tr>
        <tr>
          <td>Bytes Serialized</td>
          <td class="text-right">{{txoutsetinfo.bytes_serialized}}</td>
        </tr>
        <tr>
          <td>Hash Serialized</td>
          <td class="text-right">{{txoutsetinfo.hash_serialized}}</td>
        </tr>
        <tr>
          <td>Total Amount</td>
          <td class="text-right">{{txoutsetinfo.total_amount}}</td>
        </tr>
        </tbody>
      </table>
      
      <h4>Last Block</h4>
      <table class="table" data-ng-controller="StatusController" data-ng-init="getStatus('LastBlockHash')">
        <thead  data-ng-include src="'/views/infoStatus.html'"> </thead>
        <tr>
          <td>Last Block Hash</td>
          <td class="text-right"><a href="/block/{{lastblockhash}}">{{lastblockhash}}</a></td>
        </tr>
        </tbody>
      </table>
    </div> <!-- END OF COL-8 -->

    <div class="col-md-3">
      <div class="col-gray">
        <h4>Bitcoin node information</h4>
        <table class="table" data-ng-controller="StatusController" data-ng-init="getStatus('Info')">
          <thead  data-ng-include src="'/views/infoStatus.html'"> </thead>
          <tbody>
          <tr>
            <td>Version</td>
            <td class="text-right">{{info.version}}</td>
          </tr>
          <tr>
            <td>Protocol version</td>
            <td class="text-right">{{info.protocolversion}}</td>
          </tr>
          <tr>
            <td>Blocks</td>
            <td class="text-right"><a href="/block-index/{{info.blocks}}">{{info.blocks}}</a></td>
          </tr>
          <tr>
            <td>Time Offset</td>
            <td class="text-right">{{info.timeoffset}}</td>
          </tr>
          <tr>
            <td>Connections to other nodes</td>
            <td class="text-right">{{info.connections}}</td>
          </tr>
          <tr>
            <td>Proxy setting</td>
            <td class="text-right">{{info.proxy}}</td>
          </tr>
          <tr>
            <td>Mining Difficulty</td>
            <td class="text-right">{{info.difficulty}}</td>
          </tr>
          <tr>
            <td>Testnet</td>
            <td class="text-right">{{info.testnet}}</td>
          </tr>
          <tr>
            <td>Keypool Oldest Date</td>
            <td class="text-right">{{info.keypoololdest*1000 | date:'medium' }}</td>
          </tr>
          <tr>
            <td>Keypool Size</td>
            <td class="text-right">{{info.keypoolsize}}</td>
          </tr>
          <tr>
            <td>Default Transaction Fee (BTC)</td>
            <td class="text-right">{{info.paytxfee}}</td>
          </tr>
          <tr>
            <td>Info Errors</td>
            <td class="text-right">{{info.infoErrors}}</td>
          </tr>
          </tbody>
        </table>

        <h4>Difficulty</h4>
        <table class="table" data-ng-controller="StatusController" data-ng-init="getStatus('Difficulty')">
          <thead  data-ng-include src="'/views/infoStatus.html'"> </thead>
          <tbody
          <tr>
            <td>Mining Difficulty</td>
            <td>{{difficulty}}</td>
          </tr>
          </tbody>
        </table>
      </div> <!-- END OF COL-GRAY -->
    </div> <!-- END OF COL-3 -->
  </div>
</section>

