<section data-ng-controller="transactionsController" data-ng-init="findThis()">
    <h1>
      Transaction
      <small>View information about a bitcoin transaction</small>
    </h1>

  <div class="block-tx">
    <div data-ng-include src="'/views/transaction/tx.html'"></div>
  </div><!--  END OF BLOCK-TX -->

  <div class="row m50v">
    <div data-ng-class="{'col-md-6':!tx.isCoinBase}">
      <h3>Summary</h3>
      <table class="table" style="table-layout: fixed">
        <tbody>
        <tr>
          <td><strong> Size </strong></td>
          <td class="text-muted text-right">{{tx.size}} (bytes)</td>
        </tr>
        <tr>
          <td><strong>Received Time </strong></td>
          <td class="text-muted text-right">{{tx.time * 1000|date:'medium'}}</td>
        </tr>
        <tr>
          <td><strong>Block </strong>
          <td class="text-right">

              <a href="/#!/block/{{tx.blockhash}}" class=" ellipsis">{{tx.blockhash}}</a>
        </tbody>
      </table>
    </div>
    <div class="col-md-6"  data-ng-show="!tx.isCoinBase">
      <h3>Inputs and Outputs</h3>
        <table class="table">
          <tbody>
          <tr>
            <td><strong>Total Input</strong></td>
            <td class="text-muted text-right">{{tx.valueIn}} BTC</td>
          </tr>
          <tr>
            <td><strong>Total Output</strong></td>
            <td class="text-muted text-right">{{tx.valueOut}} BTC</td>
          </tr>
          <tr>
            <td><strong>Fees</strong></td>
            <td class="text-muted text-right">{{tx.feeds}} BTC</td>
          </tr>
          </tbody>
        </table>
    </div>
 
  </div>
</section>

