daily-transaction-chart {
    .chart-container {
        position: relative;
        height: 35vh;
        width: 70vh;
      }
    
      @media (max-width: map-get($grid-breakpoints, sm)) {
        .chart-container {
          height: 60vh;
        }
    }
}
