/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  color: #373D42;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #373D42;
  font-family: 'Ubuntu', sans-serif;
}

/* Styling for the ngProgress itself */
#ngProgress {
  background-color: #373D42 !important;
  box-shadow: none !important;
  color: #373D42 !important;
  height: 4px !important;
  margin: 0;
  opacity: 0;
  padding: 0;
  z-index: 99998;

  /* Add CSS3 styles for transition smoothing */
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 99999;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -51px;
  /* Pad bottom by footer height */
  padding: 0 0 75px;
}

.m10h { margin: 0 10px; }
.m20h { margin: 0 20px; }
.m5v { margin: 5px 0; }
.m20v { margin: 20px 0; }
.m10v { margin: 10px 0; }
.m50v { margin: 50px 0; }
.m10b { margin-bottom: 10px; }

.vm { vertical-align: middle; }

.navbar-default {
  background-color: #8DC429;
  border-bottom: 4px solid #64920F;
}

.navbar-default .navbar-nav>li>a {
  color: #F4FBE8;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a:hover  {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(55,61,56,1);
  -moz-box-shadow:    0px 4px 0px 0px rgba(55,61,56,1);
  box-shadow:         0px 4px 0px 0px rgba(55,61,56,1);
  color: #373D42;
}

.navbar-form .form-group {
  display: block;
}

.navbar-form {
  width: 35%;
}

@media (max-width: 991px) {
  .status {
    margin: 0;
  }
  .navbar-form {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .navbar-form {
    width: auto;
  }
}

.nav-tabs.nav-justified>li>a:hover {
  cursor: pointer;
}

.insight {
  font-family: 'Ubuntu', sans-serif;
  font-size: 34px;
  font-style: italic;
  font-weight: 400;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fffffe;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar-form .form-control {
  background-color: #7CAD23;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 0;
  -webkit-box-shadow: 1px 1px 0px 0px rgba(255,255,255,0.41), inset 1px 1px 3px 0px rgba(0,0,0,0.10);
  -moz-box-shadow:    1px 1px 0px 0px rgba(255,255,255,0.41), inset 1px 1px 3px 0px rgba(0,0,0,0.10);
  box-shadow:         1px 1px 0px 0px rgba(255,255,255,0.41), inset 1px 1px 3px 0px rgba(0,0,0,0.10);
}

#search {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

#search::-webkit-input-placeholder {
  color: #BCDF7E;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
}

#search::-moz-placeholder {
  color: #BCDF7E;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 100;
}

.status {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #597338;
  border-radius: 3px;
  margin: 8px 0;
  padding: 8px 10px;
  font-size: 12px;
  color: #eee;
  text-align: center;
}

.status .tooltip {
  margin: 0;
}

.col-gray {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #F4F4F4;
  border-radius: 5px;
  padding: 14px;
  border: 1px solid #eee;
}

.col-gray-responsive {
  width: auto;
}

.col-gray-fixed {
  position: fixed;
  width: 250px;
  border: 1px solid #eee;
}

@media (max-width: 768px) {
  .col-gray-fixed {
    width:100%;
  }
}

@media (max-width: 995px) {
  .col-gray-fixed {
    position:static;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-gray-fixed {
    width: 280px;
  }
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line20 {
  border: 1px solid #D4D4D4;
  margin-bottom: 15px;
}

.line10 {
  border: 1px solid #EAEAEA;
  margin: 10px 0;
}

.block-id {
  background-color: #373D42;
  border: 3px solid #FFFFFF;
  margin: 0 auto;
  width: 165px;
  color: #fff;
  text-align: center;
  font-size: 80px;
}

.block-id span {
  margin-top: 10px;
}

.block-id h2 {
  color: #FFFFFF;
  font-weight: bold;
  line-height: 30px;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

.icon-block {
  color: #FFFFFF;
  font-size: 35px;
  margin-top:  10px;
}

.icon-block h3 {
  color: #fff;
}

.block-tx {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #F4F4F4;
  border-radius: 2px;
  margin: 20px 0 10px;
  overflow: hidden;
  padding: 15px;
  border: 1px solid #eee;
}

.btn {
  border-radius: 2px;
}
.btn-primary {
  background-color: #8DC429;
  border: 2px solid #76AF0F;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary.active, .open .dropdown-toggle.btn-primary,
.btn-success:hover, .btn-success:focus, .btn-success:active,
.btn-success.active, .open .dropdown-toggle.btn-success,
.btn-danger:hover, .btn-danger:focus, .btn-danger:active,
.btn-danger.active, .open .dropdown-toggle.btn-danger {
  background-color: #fff;
  border: 2px solid #ccc;
  color: #373D42;
}

.btn-default {
  background-color: #E7E7E7;
  border: 2px solid #DCDCDC;
}

.btn-success {
  background-color: #2FA4D7;
  border: 2px solid #237FA7;
}

.btn-danger {
  background-color: #AC0015;
  border: 2px solid #6C0000;
}

.label {
  padding: .7em 2em;
  font-size: 13px;
  text-transform: uppercase;
  font-weight:100;
}

.label-primary {
  background-color: #8DC429;
}

.label-default {
  background-color: #ffffff;
  color: #333;
}

.label-success {
  background-color: #2FA4D7;
}

.label-danger {
  background-color: #AC0015;
}

.progress-bar-info { background-color: #8DC429; }

/* Set the fixed height of the footer here */
#footer {
  background-color: #373D42;
  border-top: 4px solid #656E76;
  color: #fff;
  height: 51px;
  overflow: hidden;
}

.currency a.active {
  color: #000;
  text-decoration: underline;
  cursor: default;
}

#footer a.insight {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

#footer a.insight:hover {
  color: #fffffe;
}

#footer a.insight small { font-size: 11px; }
.line-footer { border-top: 2px dashed #ccc; }

.line-bot {
  border-bottom: 2px solid #EAEAEA;
  padding: 0 0 10px 0;
}
.line-mid { padding: 15px 0;}
.line-top {
  border-top: 1px solid #EAEAEA;
  padding: 15px 0 0 0;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container { padding: 60px 15px 0; }

#footer > .container { padding: auto 15px; }

.code { font-size: 80%; }

.address { font-size: 11px; }

.no_matching {
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  background-color: #FFFFFF;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top: none;
  border: 1px solid #64920F;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  top: 45px;
  width: 300px;
}

/*Animations*/
.fader.ng-enter {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.fader.ng-enter-active { opacity: 1; }

.tx-bg {
  background-color: #F4F4F4;
  left: 0;
  min-height: 340px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -9999;
}

.badge {
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  background-color: #999999;
  border-radius: 9px;
  color: #ffffff;
  font-size: 12.025px;
  font-weight: bold;
  padding: 1px 9px 2px;
  white-space: nowrap;
}

.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.badge-error { background-color: #b94a48; }
.badge-error:hover { background-color: #953b39; }
.badge-warning { background-color: #f89406; }
.badge-warning:hover { background-color: #c67605; }
.badge-success { background-color: #468847; }
.badge-success:hover { background-color: #356635; }
.badge-info { background-color: #3a87ad; }
.badge-info:hover { background-color: #2d6987; }
.badge-inverse { background-color: #333333; }
.badge-inverse:hover { background-color: #1a1a1a; }

.status .t {
  color: white;
}

.status .text-danger { background: red; }

.status .text-warning {
  background: yellow;
  color: black;
}

.btn-copy, .btn-expand {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #FFFFFF;
  border-radius: 2px;
  border: 2px solid #E4E4E4;
  color: #9b9b9b;
  display: inline-block;
  height: 25px;
  outline: none;
  text-align: center;
  width: 30px;
}
.btn-copy { margin-left: 5px; }
.btn-copy .tooltip {
  display: inline-block;
  margin-left: 10px;
  margin-top: -2px;
  opacity: 0;
}
.btn-copy.zeroclipboard-is-hover { color: #2a6496; }
.btn-copy.zeroclipboard-is-active .tooltip { opacity: 1; }
.btn-expand { margin-right: 5px; }

@media (max-width: 991px) {
  .btn-copy {
    display: none;
  }
}

.txid {
  line-height: 26px;
}

.tx-id {
  background-color: #373D42;
  border: 3px solid #FFFFFF;
  margin: 0 auto;
  width: 165px;
  color: #FFFFFF;
  font-size: 80px;
  text-align: center;
}

.transaction-vin-vout .ellipsis { margin-bottom: 10px; }
.transaction-vin-vout .btc-value { margin-left: 15px; }

.page-header { margin-top: 0; }

/* Index */
#home .btn-more {
  border-top: 1px solid #ddd;
  margin: 30px auto 0;
  text-align: center;
  width: 90%;
}
#home .btn-more .btn-default {
  margin-top: -23px;
}

#powered .powered-text {
  border-top: 1px solid #ddd;
  margin: 30px auto 0;
  text-align: center;
  width: 90%;
}
#powered .powered-text small {
  background-color: #f4f4f4;
  padding: 4px;
  position: relative;
  top: -12px;
}

#powered a {
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  float: left;
  height: 45px;
}
#powered a.bitcore {
  background-image: url('http://bitcore.io/images/logo.svg');
  background-size: 80px;
  width: 30%;
}
#powered a.nodejs {
  background-image: url('/img/nodejs.png');
  background-size: 80px;
  width: 30%;
}
#powered a.angularjs {
  background-image: url('/img/angularjs.png');
  background-size: 50px;
  width: 20%;
}
#powered a.leveldb {
  background-image: url('/img/leveldb.png');
  background-size: 50px;
  width: 20%;
}

