// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: '../assets/fonts';

@import 'ionic.globals';

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  brand: #8dc429,
  primary: #2fa4d7,
  secondary: #8dc429,
  danger: #a94442,
  warning: #ffa400,
  light: #f4f4f4,
  dark-light: #a2a2a2,
  dark: #373d42,
  bp-blue: #0c204e,
  light-blue: #299AD1,
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import 'ionic.theme.default';

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import 'ionic.ionicons';

// Fonts
// --------------------------------------------------

@font-face {
  font-family: Heebo, Helvetica Neue, Arial, sans-serif;
}
* {
  font-family: Heebo, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
}

// Other globals

$grid-breakpoints: (
 xs: 0, // Phone (0px - 575px)
 sm: 576px, // Phablet (576px - 767px)
 md: 768px, // Tablet vertical (768px - 991px)
 lg: 992px // Tablet horizontal, Desktop (992px and above)
);

$grid-max-widths: (
 lg: 992px
);
