.insight {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 34px;
  color: #FFFFFF !important;
  line-height: 25px;
  margin-right: 50px;
}

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  color: #373D42;
  font-family: Ubuntu, sans-serif;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Ubuntu, sans-serif;
  color: #373D42;

}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -51px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.m10h {margin: 0 10px;}
.m20h {margin: 0 20px;}
.m5v {margin: 5px 0;}
.m20v {margin: 20px 0;}
.m10v {margin: 10px 0;}
.m50v {margin: 50px 0;}
.m10b {margin-bottom: 10px;}

.vm {
  vertical-align: middle;
}

.navbar-default {
  min-height: 60px;
  padding: 0;
  background-color: #8DC429;
  border-bottom: 4px solid #64920F;
  color: #fff;
}

.navbar-form {
  margin: 12px 0;
}

.navbar-default .navbar-nav>li>a {
  color: #F4FBE8;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a:hover  {
  color: #373D42;
  background-color: #fff;
  -moz-box-shadow:    0px 4px 0px 0px rgba(55,61,56,1);
  -webkit-box-shadow: 0px 4px 0px 0px rgba(55,61,56,1);
  box-shadow:         0px 4px 0px 0px rgba(55,61,56,1);
}

.navbar-form .form-control {
  border: 0;
  border-radius: 3px;
  background: #7CAD23;
  -moz-box-shadow:    1px 1px 0px 0px rgba(255,255,255,0.41), inset 1px 1px 3px 0px rgba(0,0,0,0.10);
  -webkit-box-shadow: 1px 1px 0px 0px rgba(255,255,255,0.41), inset 1px 1px 3px 0px rgba(0,0,0,0.10);
  box-shadow:         1px 1px 0px 0px rgba(255,255,255,0.41), inset 1px 1px 3px 0px rgba(0,0,0,0.10);
}

#search {
  color: #fff;
  font-family: Ubuntu, sans-serif;
  font-weight: 100;
}

#search::-webkit-input-placeholder {
  font-family: Ubuntu, sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 15px;
  color: #BCDF7E;
  line-height: 20px;
}


#search::-moz-placeholder {
  font-family: Ubuntu, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #BCDF7E;
  line-height: 20px;
}

.status {
  border-radius: 3px;
  background: #597338;
  float: right;
  padding: 8px 15px;
  margin: 11px 0;
  font-weight: 300;
}

.status i {
  margin: 0 5px;
}

.col-gray {
  width: 267px;
  background-color: #F4F4F4;
  padding: 15px;
  margin-top: 21px;
  border-radius: 5px;
}

.ellipsis {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line20 {
  border: 1px solid #D4D4D4;
  margin-bottom: 15px;
}

.line10 {
  border: 1px solid #EAEAEA;
  margin: 10px 0;
}

.col-gray .address {
  line-height: 20px;
  width: 125px;
}

.block-id {
  background: #373D42;
  border: 3px solid #FFFFFF;
  width: 165px;
  height: 165px;
  margin: 10px auto;
  border-radius: :;px;
}

.block-id h3 {
  font-weight: bold;
  color: #FFFFFF;
  line-height: 30px;
  text-align: center;
}

.icon-block {
  font-size: 27px;
  color: white;
  margin-top:  20px;
}

.block-tx {
  overflow: hidden;
  border-radius: 2px;
  background: #F4F4F4;
  margin: 20px 0 10px;
  padding: 15px;
}

.block-tx p {
  margin: 0 0 5px;
}

.btn {
  margin: 0 5px;
  border-radius: 2px;
}
.btn-primary {
  background: #8DC429;
  border: 2px solid #76AF0F;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary.active, .open .dropdown-toggle.btn-primary,
.btn-success:hover, .btn-success:focus, .btn-success:active,
.btn-success.active, .open .dropdown-toggle.btn-success,
.btn-danger:hover, .btn-danger:focus, .btn-danger:active,
.btn-danger.active, .open .dropdown-toggle.btn-danger {
  background: #fff;
  border: 2px solid #ccc;
  color: #373D42;
  font-weight: 500;
}

.btn-default {
  background: #E7E7E7;
  border: 2px solid #DCDCDC;
}

.btn-success {
  background: #2FA4D7;
  border: 2px solid #237FA7;
}

.btn-danger {
  background: #AC0015;
  border: 2px solid #6C0000;
}

#status .table {
  margin-bottom: 45px;
}

.progress-bar-info {
  background-color: #8DC429;
}

#home .col-gray {
  width: 100%;
}

/* Set the fixed height of the footer here */
#footer {
  height: 51px;
  background-color: #373D42;
  border-top: 4px solid #656E76;
  color: #fff;
}

#footer .insight {
  font-size: 20px;
  text-decoration: none;
}

.line-footer {
  border-top: 2px dashed #ccc;
}

.line-bot {
  padding: 0 0 10px 0;
  margin-bottom: 10px;
  border-bottom: 2px solid #EAEAEA;
}

.line-top {
  padding: 10px 0;
  margin-top: 5px;
  border-top: 1px solid #EAEAEA;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 10px 0;
}

.container .text-muted a {
  color: #eee;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.code {
  font-size: 80%;
}

.address {
  font-size: 11px;
}

#search { width: 300px; }

.no_matching {
  background-color: #FFFFFF;
  border: 2px solid #64920F;
  padding: 10px 20px;
  position: absolute;
  top: 46px;
}

/*Animations*/
.fader.ng-enter {
  transition: opacity 1s;
  opacity: 0;
}

.fader.ng-enter-active {
  opacity: 1;
}

.tx-bg {
  background-color: #F4F4F4;
  width: 100%;
  min-height: 340px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999;
}

.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}

.expanded-tx {
  border-bottom: 1px dashed #444;
}


.expanded-tx small {
  font-size: 80%;
}

.status .t {
  color: white;
  display: inline-block;
  padding:0px 5px;
}

.status .text-danger {
  background: red;
}

.status .text-warning {
  background: yellow;
  color: black;
}


