.walletContainer {
  padding: 5px;
  margin: 0 auto;
  max-width: 33%;
}
.walletContainer>*>h1{
  text-align: center;
}
.walletContainer>div {
  margin: 15px;
}
.walletCreateContainer {
  max-width: 85%;
  margin: 0 auto;
  padding: 5px;
}

.walletCreateContainer>* {
  margin-top: 5px;
  margin-bottom: 5px;
}

.walletListItemContainer{
  margin-bottom: 10px;
}

.walletListItemContainer>*>div{
  margin-left: 15px;
}
