<section data-ng-controller="BlocksController" data-ng-init="list()">
  <div class="page-header">
    <h1>
      Blocks
      <small>by date</small>
    </h1>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul class="pager">
        <li class="previous"><a href="#!/blocks-date/{{pagination.prev}}">&larr; {{pagination.prev}}</a></li>
        <li class="disabled"><a href="#">{{pagination.current}}</a></li>
        <li class="next"><a href="#!/blocks-date/{{pagination.next}}">{{pagination.next}} &rarr;</a></li>
      </ul>
      <table class="table table-striped" data-ng-show="blocks || blocks.length">
        <thead>
          <tr>
            <th>Hash</th>
            <th>Solved at</th>
          </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="block in blocks">
          <td><a href="#!/block/{{block.hash}}">{{block.hash}}</a></td>
          <td>{{block.time * 1000 | date:'medium'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h2 class="text-center text-muted" data-ng-hide="!blocks || blocks.length">No blocks yet.</h2>
</section>
