<section data-ng-controller="BlocksController" data-ng-init="list()">
  <div class="row">
    <div class="col-md-3">
      <div class="bs-sidebar affix col-gray">
        <div class="block-id">
          <div class="icon-block text-center">
            <span class="glyphicon glyphicon-list"></span>
            <h3>Blocks <br> mined on:</h3>
          </div>
        </div>
        <p class="lead text-center m20v">{{pagination.current}}</p>
        <div class="m50v">
          <a class="btn btn-primary" href="/blocks-date/{{pagination.prev}}"><small>&larr; {{pagination.prev}}</small></a>
          <a class="btn btn-primary" href="/blocks-date/{{pagination.next}}" data-ng-disabled="pagination.isToday"><small>{{pagination.next}} &rarr;</small></a>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="page-header">
        <h1>
          Blocks
          <small>by date</small>
        </h1>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Height</th>
            <th>Timestamp</th>
            <th>Transactions</th>
            <th>Size</th>
            <th>Confirmations</th>
          </tr>
        </thead>
        <tbody>
        <tr data-ng-show="loading">
          <td colspan="5">Waiting for blocks...</td>
        </tr>
        <tr class="fader" data-ng-repeat='b in blocks'>
          <td><a href="/block/{{b.hash}}">{{b.height}}</a></td>
          <td>{{b.time * 1000 | date:'medium'}}</td>
          <td>{{b.tx.length}}</td>
          <td>{{b.size}}</td>
          <td>{{b.confirmations}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h2 class="text-center text-muted" data-ng-show="!blocks.length && !loading">No blocks yet.</h2>
</section>
