// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-default = #444
color-grey = #999
color-border = #ddd
color-blue = #0e83cd

// Typography
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-title = Lato, font-sans
font-serif = Garamond, Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Monaco, Menlo, Consolas, monospace

font-size = 14px
line-height = 1.6em

font-icon = icomoon
font-icon-path = "fonts/icomoon"
font-icon-version = "h46t80"

@font-face
  font-family: font-icon
  font-weight: normal
  font-style: normal
  src: url(font-icon-path + ".eot?" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg?" + font-icon-version + "#icomoon") format("svg")

// Layout
column-width = 60px
gutter-width = 25px
columns = 12

// Media queries
mq-mobile = "(max-width: 768px)"
mq-normal = "(min-width: 769px)"