<ion-header>
  <head-nav [title]="'Block'"></head-nav>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <h1>Block # {{ block.height }}</h1>
        <p>BlockHash {{ block.hash }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <h2>Summary</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Number of Transactions
      </ion-col>
      <ion-col text-right>
        {{ block.tx.length }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Height
      </ion-col>
      <ion-col text-right>
        {{ block.height }} <span [hidden]="!block.isMainChain">(Mainchain)</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Block Reward
      </ion-col>
      <ion-col text-right>
        {{ block.reward + ' BTC' }}
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!loading">
    <p>Timestamp {{ block.time * 1000 | date:'medium' }}</p>
    <p>Mined by <a href="{{ block.poolInfo.url }}">{{ block.poolInfo.poolName }}</a></p>
    <p>Merkle Root {{ block.merkleroot }}</p>
    <p>Previous Block <a (click)="goToPreviousBlock()">{{ block.height - 1 }}</a></p>
    <p>Difficulty {{ block.difficulty }}</p>
    <p>Bits {{ block.bits }}</p>
    <p>Size (bytes) {{ block.size }}</p>
    <p>Version {{ block.version }}</p>
    <p>Nonce {{ block.nonce }}</p>
    <p>Next Block <a (click)="goToNextBlock()">{{ block.height + 1 }}</a></p>

    <h3>Transactions</h3>
    <transaction-list [queryType]="'block'" [queryValue]="block.hash"></transaction-list>
  </div>
  <div *ngIf="loading">
    <p>Loading...</p>
  </div>
</ion-content>
