<footer id="footer">
  <div class="outer">
    <div class="inner">
      <div id="footer-copyright">
        <p>bitcore™ &copy; 2013-2014 BitPay, Inc. bitcore is released under the MIT license.</p>
      </div>
      <div id="footer-links">
        <a href="https://twitter.com/<%= theme.twitter %>" id="footer-link-twitter" class="footer-link" target="_blank"><span>Twitter</span></a>
        <a href="https://github.com/<%- theme.github %>" id="footer-link-github" class="footer-link" target="_blank"><span>GitHub</span></a>
      </div>
    </div>
  </div>
</footer>