<header id="page-banner">
  <div class="outer">
    <div id="page-banner-inner" class="inner">
      <h1 id="page-title">News</h1>
      <a href="<%- url_for('atom.xml') %>" title="Subscribe for latest news" id="news-subscribe-link"></a>
    </div>
  </div>
</header>