[Unit]
Description=Bitcoin Core for Bitcore
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/usr/opt/bitcore
ExecStart=/usr/bin/bitcore-bitcoind -datadir=/home/bitcore/.bitcore/data/
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=15
User=bitcore
ExecStartPre=/bin/mkdir -p /run/bitcore
ExecStartPre=/bin/chown bitcore:bitcore /run/bitcore
ExecStartPre=/bin/chmod 755 /run/bitcore
PermissionsStartOnly=true
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target