[Unit]
Description={{ deb_package_description }}
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/usr/opt/bitcore
ExecStart=/usr/opt/bitcore/bin/bitcored
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=15
User=bitcore
ExecStartPre=/bin/mkdir -p /run/bitcore
ExecStartPre=/bin/chown bitcore:bitcore /run/bitcore
ExecStartPre=/bin/chmod 755 /run/bitcore
PermissionsStartOnly=true
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target