<!-- Tweet button -->
<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%- url %>" data-text="<%= post.title %>" data-hashtags="hexo,nodejs">Tweet</a>
<!-- Facebook like button -->
<iframe src="//www.facebook.com/plugins/like.php?href=<%= encodeURIComponent(url) %>&amp;width=90&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=145365378826124" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
<!-- Google +1 button -->
<g:plusone size="medium" href="<%- url %>"></g:plusone>