<ion-grid>
  <ion-row>
    <ion-col col-8>
      <span><a (click)="goToTx(tx.txid)">{{ tx.txid }}</a></span>
    </ion-col>
    <ion-col col-4 text-right>
      <div [hidden]="!tx.firstSeenTs">
        <span translate>first seen at</span>
        <time>{{tx.firstSeenTs * 1000 | date:'medium'}}</time>
      </div>
      <div [hidden]="!tx.blocktime && tx.firstSeenTs">
        <span translate>mined</span>
        <time>{{tx.time * 1000 | date:'medium'}}</time>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-5>

      <ion-list [hidden]="!tx.isCoinBase">
        <ion-item>
          No Inputs (Newly Generated Coins)
        </ion-item>
      </ion-list>

      <ion-list [hidden]="tx.isCoinBase">
        <ion-item *ngFor="let vin of tx.vin">
          <a (click)="goToAddress(vin.addr)">{{ vin.addr }}</a>
          <span item-end>{{ vin.value + ' BTC' }}</span>
        </ion-item>
      </ion-list>

    </ion-col>
    <ion-col col-2 text-center>
      <div>
        &gt;
      </div>
    </ion-col>
    <ion-col col-5>
      <ion-list>
        <ion-item *ngFor="let vout of tx.vout">
            <a (click)="goToAddress(getAddress(vout))">{{ getAddress(vout) }}</a>
            <div item-end>
              {{ vout.value + ' BTC' }} <span [hidden]="!vout.spentTxId">(S)</span><span [hidden]="vout.spentTxId">(U)</span>
            </div>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-6>
      <span [hidden]="tx.isCoinBase">Fee {{ tx.fees + 'BTC' }}</span>
    </ion-col>
    <ion-col col-6 text-right>
      {{ tx.confirmations }} Confirmations
      <span class="">{{ tx.valueOut + ' BTC' }}</span>
    </ion-col>
  </ion-row>
</ion-grid>
