<div class="connection-status container" data-ng-controller="ConnectionController">

  <!-- apiOnline disabled  || !apiOnline -->
  <div class="alert alert-danger" data-ng-show="!serverOnline || !clienteOnline || !apiOnline", data-ng-init="getConnStatus()">
    <strong>Error!</strong>
    <p data-ng-show="!apiOnline">Can't connect to bitcoind.</p>
    <p data-ng-show="!serverOnline">Can't connect to server.</p>
    <p data-ng-show="!clienteOnline">Can't connect to internet. Please, check your connection.</p>
  </div>
</div>
