page-home {
    .chart {
        width: 500px;
        height: 500px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        width: 150px;
    }

    .menu-button {
        font-size: 18px;
        color: color($colors, light-blue)
    }

}
