price-chart {
  justify-self: end;
  align-self: center;
  
  .chart-container {
    position: relative;
    height: 300px;
    width: 600px;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    .chart-container {
      height: 60vh;
    }
}

  .price {
    display: flex;
    justify-content: flex-end;
    color: black;
    font-size: 22px;
    font-weight: 500;
  }
}