price-chart {
  justify-self: end;
  align-self: center;
  max-width: 200px;

  @media (max-width: 500px) {
    max-width: 170px;
  }

  @media (max-width: 400px) {
    max-width: 120px;
  }

  .price {
    color: grey;
    font-size: 22px;

  }
}