price-chart {
  justify-self: end;
  align-self: center;
  // max-width: 200px;

  // @media (max-width: 500px) {
  //   //max-width: 170px;
  // }

  // @media (max-width: 400px) {
  //   //max-width: 120px;
  // }

  .chart-container {
    position: relative;
    height: 35vh;
    width: 70vh;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    .chart-container {
      height: 60vh;
    }
}

  .price {
    color: black;
    font-size: 22px;

  }
}