head-nav {

  .search-image-container {
    width: 35px;
  }

  .search-image {
    width: 35px;
    height: 34px;
    margin-top: 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(235, 235, 235);
    outline: none;

  }

  .input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  .toolbar-content {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    justify-items: stretch;
    align-items: center;

      ion-title {
        justify-self: start;
        &.logo-header {
          .toolbar-title{
            width: auto;
            cursor: pointer;
            color: white;
            font-weight: 700;
            font-style: italic;
            font-size: 2em;
            padding-left: 0px;
          }
        }
      }
  
      ion-buttons {
        justify-self: end;
      }

      ion-row {
        @media (min-width: map-get($grid-breakpoints, lg)) {
          display: inline-block;
        }
      }
      .search{
        justify-self: center;
        @media (min-width: map-get($grid-breakpoints, lg)) {
          display: inline-block;
        }

        display: none;
        
        
        vertical-align: middle;
        input {
          width: 500px;
          margin-top: 4px;
          padding: 9px 12px;
          color: color($colors, dark-light);
          background-color: #FFF;
          border: 0;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
        
        ::-webkit-input-placeholder {
          color: color($colors, dark-light);
          font-style: italic;
          font-weight: 100;
        }
        
        ::-moz-placeholder {
          color: color($colors, dark-light);
          font-family: 'Ubuntu', sans-serif;
          font-weight: 100;
        }
      }
  }
  .mobile-searchbar > .toolbar-content {
    display: grid;
    grid-template-columns: 100%;
  }
  .search-button {
    @media (min-width: map-get($grid-breakpoints, lg)) {
      display: none;
    }
  }
  .cn-button:hover,
  .cn-button:focus {
    img{
      filter:  invert(0%) contrast(50%);
      opacity: 0.2;
      color: color($colors, dark-light);
    }
  }
}
