<div class="api-options">
  Show:
  <label>
    <input type="checkbox" value="private">Private
  </label>
  <label>
    <input type="checkbox" value="protected">Protected
  </label>
  <label>
    <input type="checkbox" value="deprecated">Deprecated
  </label>
</div>