extends layouts/default

block content
  section.container(data-ng-view)

  section.container
    p ˈmɪst(ə)ri/'
      | noun
      audio(src="https://ssl.gstatic.com/dictionary/static/sounds/de/0/mystery.mp3",preload="auto",data-dobid="aud",id="aud")
      button(onclick="document.getElementById('aud').play()") Play
    
    ol
      li 
        strong something that is difficult or impossible to understand or explain.
        p "the mysteries of outer space"
        | synonyms:	puzzle, enigma, conundrum, riddle, secret, unsolved problem, problem, question, question mark, closed book; secrecy or obscurity.
        p "much of her past is shrouded in mystery"
        | synonyms:	secrecy, darkness, obscurity, ambiguity, ambiguousness, uncertainty, impenetrability, vagueness, nebulousness; More
      li
        strong a person or thing whose identity or nature is puzzling or unknown.
        p "‘He's a bit of a mystery,’ said Nina"
      li 
        strong  a novel, play, or film dealing with a puzzling crime, especially a murder.
        p "the 1920s murder mystery, The Ghost Train"
        | synonyms:	thriller, detective story/novel, murder story; More
