<div id="banner">
  <div class="outer">
    <div class="inner">
      <h2 id="banner-title">A pure and simple JavaScript bitcoin API.</h2>
      <div id="banner-getting-started">
        <span id="banner-getting-started-prefix">$</span>
        <input id="banner-getting-started-input" type="text" value="npm install bitcore" readonly>
        <a href="<%- config.root %>docs" id="banner-getting-started-btn"></a>
      </div>
    </div>
  </div>
</div>

<%- page.content %>
